body{
    background-color: dimgray;
}
h1{
    background-color: dodgerblue;
}
h1+p{
    background-color: firebrick;
}
h2{
    background-color: forestgreen;
}
h2+p{
    background-color: fuchsia;
}
ol{
    background-color: yellow;
}